[Unit]
Description=X Compositing Manager
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/usr/bin/xcompmgr

[Install]
WantedBy=mystuff.target
