!
!! ~/.Xdefaults
!! author  : OK <ok100.ok100.ok100@gmail.com>
!! website : https://github.com/ok100
!

!-- colors --!
#include "/home/ok/.colors/gutter"

!-- urxvt --!
urxvt.scrollBar:          false
urxvt.font:               -*-lime-medium-*-*-*-10-*-*-*-*-*-*-*
urxvt.boldFont:           -*-lime-medium-*-*-*-10-*-*-*-*-*-*-*
urxvt.borderLess:         false
urxvt.internalBorder:     0
urxvt.buffered:           true
urxvt.urgentOnBell:       true
urxvt.geometry:           81x21
urxvt.cursorBlink:        true
URxvt.perl-ext-common:    default,matcher
URxvt.urlLauncher:        /home/ok/bin/browser
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

!-- xft --!
Xft.autohint:             0
Xft.lcdfilter:            lcddefault
Xft.hintstyle:            hintslight
Xft.hinting:              1
Xft.antialias:            1
Xft.rgba:                 rgb
