!
!! ~/.Xdefaults
!! author  : OK100 <ok100@lavabit.com>
!! website : https://github.com/ok100
!

!-- colors --!
#include "/home/ok/.colors/dc2a"

!-- urxvt --!
urxvt.scrollBar:          false
urxvt.font:               -*-tamsynu-medium-*-*-*-14-*-*-*-*-*-*-*
urxvt.boldFont:           -*-tamsynu-bold-*-*-*-14-*-*-*-*-*-*-*
urxvt.borderLess:         false
urxvt.internalBorder:     2
urxvt.buffered:           true
urxvt.urgentOnBell:       true
urxvt.geometry:           81x21
urxvt.cursorBlink:        true
URxvt.perl-ext-common:    default,matcher
URxvt.urlLauncher:        dwb
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

!-- xft --!
Xft.autohint:             0
Xft.lcdfilter:            lcddefault
Xft.hintstyle:            hintslight
Xft.hinting:              1
Xft.antialias:            1
Xft.rgba:                 rgb
